footer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ff6961;
  height: 15%;
  color: white;
  position: relative;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
footer h1 {
  position: relative;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
footer h4 {
  position: absolute;
  top: 60px;
  font-family: monospace;
}
footer p {
  position: absolute;
  bottom: 0px;
  left: 10px;
}
